<div class="account">
  <ul class="nav nav-list">
      <li>Name: <% if @user.name.nil? %> 
            Unnamed!
          <% else %>
            <%= @user.name %>
          <% end %></li>
      <li>Email: <%= @user.email  %></li>
      <% if @user.user_type == "Band" %>
        <li>Band:  <% if @user.bands.first.name.nil? %>
        "Unnamed!"
        <% else %>
        <%= @user.bands.first.name %>
        <% end %>
      <% end %>
      </li>
    <li><%= link_to 'Edit User Info', edit_user_path(@user), remote: true %></li>
  </ul>
</div>