<div class="player">
	<div id="zen">
		<span class="player"></span>
		<span class="circle"></span>
		<span class="progress"></span>
		<span class="buffer"></span>
		<span class="drag"></span>
		<div class="button">
			<span class="icon play"></span>
			<span class="icon pause"></span>
		</div>
	</div>
	<div id="skip">
		<button class="btn-large btn-inverse" id="skip">
			<i class="icon-step-forward"></i>
		</button>
	</div>
</div>
