<tr class="song<%= song.id %>_in_list<%= playlist.id %>">
  <td></td>
  <td><%= link_to "#{song.name}", root_url(id: song.id, playlist: playlist.id) %></td>
  <td><%= link_to "Remove from Playlist", page_url(:id => PlaylistSong.find_by_song_id_and_playlist_id(song.id, playlist.id).id, :song => song.id), method: :delete, remote: true %></td>
</tr>
