<div class="main">
<% if @artist %>
  Welcome <%= @artist.name %>!
  <ul>
    <% @artist.albums.each do |album| %>
      <li><%= album.name %></li>
        <ul>
          <% album.songs.each do |song| %>
            <li><%= song.name%></li>
          <% end %>
        </ul>
    <% end %>
  </ul>
<% end %>
</div>