<div class="main">
<ul>
<li><%= image_tag "sinistereo_new.png", size: "250x200" %></li>
<li><%= link_to "Sign Up", signup_url %></li>
<li>or</li>
<li><label for="username"><strong>Sign In</strong></label></li>
</ul>
