/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*** RESET ***/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
}
*:focus {
  outline: 1;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
nav ul {
  list-style: none;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select {
  vertical-align: middle;
}

/***GLOBAL***/ 

/*body {
	background: #000;

  background-image: linear-gradient(bottom, rgb(0,0,0) 14%, rgb(9,218,230) 68%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0)) 14%, rgb(9,218,230) 68%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 14%, rgb(9,218,230) 68%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 14%, rgb(9,218,230) 68%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 14%, rgb(9,218,230) 68%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.14, rgb(0,0,0)),
  	color-stop(0.68, rgb(9,218,230))
  );
}
*/

nav a {
	color: #fff !important;
	
}

nav a:hover {
	background: #000 !important;
	color: #960909 !important;
}





body {
	background-attachment: fixed;
	background-image: url('wallpaper.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#bar {
	background: rgba(255,255,255,0.4);
	color: #000;
}

.head-container {
	font: 20px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin: 10px auto;

	width: 960px;

   
}

.playlists strong a:hover {
	background: #fff;
	
}


#bar a {
	color: #000 !important;
	text-decoration: none;
}

li .upvote a {
	color: #000 !important;
	text-decoration: none;
	text-align: center;
}

li .downvote a {
	color: #000 !important;
	text-decoration: none;
	text-align: center;
}

table td a:hover {
	background: #960909;
}

table th a:hover {
	background: #960909;
}



#window {
	overflow-y: scroll;
	overflow-x: scroll;
	display: none;
	background: rgba(255,255,255,0.4);
	color: #000;
}

#window a {
	color: #000 !important;
	text-decoration: none;
}

.new_playlist {
	display: none;
}



/***HEADER***/


nav ul {
	float: right;
}

nav li {
	float: left;
	font-size: 15px;
	margin: 0px 5px;
}

.clear {
	clear: both;
	height: 0;
}
/***Aside***/





/***acticle***/

.sidebar-nav-player {
    padding: 9px 0;
    position:center;,fpp

}
.sidebar-nav {
    padding: 9px 0;
    position:center;,fpp
}

.span4 #skip {
	position: fixed;
	top: 65%;
	left: 48%;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

