/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*** RESET ***/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
}
*:focus {
  outline: 1;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
nav ul {
  list-style: none;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select {
  vertical-align: middle;
}

/***GLOBAL***/ 

body {
	background: #2BF5FF;
}

.container {
	font: 20px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px;
	margin: 10px auto;
	background: #ccc;
	 -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	width: 960px;
    
}

.window {
	font: 20px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	margin: 10px 10px 10px 60px;
	float: left;
	background: #ccc;
	 -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	width: 1060px;
	height: 200px;
	overflow-y: scroll;
	display: none;
}

.new_playlist {
	display: none;
}

.sidebar {
	font: 20px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	margin: 10px 10px 10px 60px;
	float: left;
	background: #ccc;
	 -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	width: 160px;
	height: 500px;
	overflow-y: scroll;

	
}

.main {
	font: 20px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	margin: 10px 60px 10px 10px;
	float: right;
	background: #ccc;
	 -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
	width: 800px;
	height: 500px;
	overflow-y: scroll;
	
}

.main li {
	margin: 10px auto;
	width: 200px;
}

/***HEADER***/

header h1 {
	float: left;
}

nav ul {
	float: right;
}

nav li {
	float: left;
	font-size: 15px;
	margin: 0px 5px;
}

.clear {
	clear: both;
}
/***Aside***/

aside {
  float: left;
  margin: 20px 0 0 20px;
  background: -webkit-linear-gradient(top, #f4f4f4, #ddd);
  width: 300px;
}


#audio {
  border: 1px solid #ccc;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  float: left;
  margin: 20px 20px 0 0;
  width: 260px;
}

#songs {
	border: 1px solid #ccc;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  float: right;
  margin: 20px 20px 0 0;
  width: 260px;
  
}

premium_blend {

}

playlists {

}

playlists h2 {
  float: right;
}
/***acticle***/

article { 
 float: left;
  margin: 20px 0 0 20px;
  width: 300px;
}
